.content {
    padding-left: 30px;
    padding-top: 30px;
}

form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li label {
    width: 150px;
    display: inline-block;
}

li {
    padding: 5px;
}

.send {
    padding: 5px 20px;
    margin-top: 20px;
}

.message {
    color: green;
    padding: 30px;
}

.invalid {
    color: red;
}